<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Uom Student System</title>

    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/css/form.css} "/>
</head>
<body>

<div th:replace="header::header-body"></div>
<div class="container px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 rounded-3 shadow-lg">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="h1 fw-light">Add new activity</div>
                        <p class="mb-4 text-muted">You can fill in some personal activities in your personal timetable.</p>
                    </div>



                    <form id="contactForm" th:action="@{/timetable/add}" method="post">



                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                                <option style='display: none'></option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                                <option value="7">Sunday</option>
                            </select>
                            <label for="floatingSelect">Day in Week</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input class="form-control" id="startTime" type="time" min="09:00" max="18:00"  data-sb-validations="required" required />
                            <label for="startTime">Start Time</label>

                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="endTime" type="time"  min="09:00" max="18:00" data-sb-validations="required" required />
                            <label for="endTime">End Time</label>

                        </div>



                        <!-- Message Input -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Content" style="height: 10rem;" data-sb-validations="required" required></textarea>
                            <label for="message">Note</label>

                        </div>


                        <!-- Submit button -->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
                        </div>
                    </form>
                    <!-- End of contact form -->

                </div>
            </div>
        </div>
    </div>
</div>



<script th:src="@{/assets/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/popper.js/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>