<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="../assets/timetable/css/style.css">
    <title>Timetable</title>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
</head>

<body>
<div th:replace="header::header-body"></div>
<header class="cd-main-header text-center flex flex-column flex-center">
    <h1 class="text-xl"></h1>
</header>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Class_BEGIN
            </th>
            <th>Lecturer
            </th>
            <th>Class_END
            </th>
            <th>Class_DATE
            </th>
            <th>Operation
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curriculum : ${curriculumList}">
            <td th:text="${curriculum.classStartTime}">Onions</td>
            <td th:text="${curriculum.teacher}">Onions</td>
            <td th:text="${curriculum.classEndTime}">Onions</td>
            <td th:text="${curriculum.classDate}">Onions</td>

            <td th:unless="${curriculum.selectFlag}">
                <a href="#" th:href="'/selectCourse/' + ${url} +'/' + ${curriculum.id}"
                   class="btn btn-primary btn-lg active"
                   role="button">Select</a>
            </td>
            <td th:if="${curriculum.selectFlag}">
                <a href="#" class="btn btn-default btn-lg disabled"
                   role="button">Selected</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../assets/timetable/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="../assets/timetable/js/main.js"></script>
<script th:src="@{/assets/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/popper.js/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>