<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="../assets/timetable/css/style.css">
  <title>Timetable</title>
  <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
</head>

<body>
<div th:replace="studentsupportheader::header-body"></div>
<header class="cd-main-header text-center flex flex-column flex-center">
  <h1 class="text-xl"></h1>
</header>
<div class="card w-75 mx-auto p-5 margin-bottom-lg">
  <h2 class="m-2">You are operating a class schedule on behalf of students(<span th:text="${student.name}"></span>, <span th:text="${student.id}"></span>)</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Course Name
        </th>
        <th>Start Time
        </th>
        <th>End Time
        </th>
        <th>Day in Week
        </th>
        </th>
        <th>Department
        </th>
        <th>Operation
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="curriculum : ${curriculumList}">
        <td th:text="${curriculum.courseName}">Onions</td>
        <td th:text="${curriculum.startTime}">Onions</td>
        <td th:text="${curriculum.endTime}">Onions</td>
        <td th:text="${curriculum.dayInWeek}">Onions</td>
        <td th:text="${curriculum.department}">Onions</td>

        <td th:unless="${curriculum.selectFlag}">
          <a href="#" th:href="'/studentsupport/add/'  + ${curriculum.id}"
             class="btn btn-primary btn-lg active fixbutton"
             role="button">Register</a>
        </td>
        <td th:if="${curriculum.selectFlag}">
          <a href="#" th:href="'/studentsupport/remove/'  + ${curriculum.id}" class="btn btn-danger btn-lg fixbutton"
             role="button">Unregister</a>
        </td>
      </tr>
      </tbody>
    </table>
    <a href="/studentsupport" class="position-absolute bottom-0 end-0 m-1">Re-search</a>
  </div>
  <div>

    <script src="../assets/timetable/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="../assets/timetable/js/main.js"></script>
    <script th:src="@{/assets/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/popper.js/popper.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
<style>
  .fixbutton{
    width: 8em !important;
  }
</style>
</html>